<script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
<div id="comment"></div>


<!-- id 将作为查询条件 -->
<span id="phuhoang" class="leancloud_visitors" data-flag-title="Your Article Title">
  <em class="post-meta-item-text">阅读量 </em>
  <i class="leancloud-visitors-count">1000000</i>
</span>
<script>
  var valine = new Valine();
  valine.init({
    el: '#comment',
    appId: 'w68zTuMVKAvKdltVIq5L3JLF-gzGzoHsz',//leancloud里找
    appKey: 'm8t3g7SSGQKAtLQ5odcfwVKk',//leancloud里找
    placeholder: '请输入您的评论',
    visitor: true
  })
</script>