<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
    <link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="stylesheet" href="{{ '/assets/css/main.css' }}">
</head>
<body>
	{% include header.html %}

	<div class="container">
		
		<h1>{{ page.title }}</h1>

		<div class="article-date">
			{{ page.date | date: "%Y-%m-%d" }}
			{% if site.valine == true %}
				<!-- id 将作为查询条件 -->
				<span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">阅读量
					<i class="leancloud-visitors-count">-</i>
				</span>
			{% endif %}
		</div>

		<div class="article-container">{{ page.content }}</div>

		{% if site.valine == true %}
			{% include comments.html %}
		{% endif %}


		

	</div>

	{% include footer.html %}
</body>
</html>