<!DOCTYPE html>
<html lang="en" manifest="/index.manifest">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="黄存亚,黄埔,黄存亚个人主页,黄埔个人主页,黄存亚的笔记">
	<meta name="description" content="黄存亚个人主页，主要记录分享个人工作学习中的知识点">
	<meta name="google-site-verification" content="zEa_Bhg6hPpv3HG_wFAA1VnXQ8hbCpsvas8-wa-Ru9o" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="manifest" href="/manifest.json" />
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	{% include header.html %}
	
	<div class="container">{{ content }}</div>

	{% include footer.html %}
</body>
</html>